/*
  White: #fff;
  Light Grey: #d3d3d3;
*/

html {
  background: url("../assets/background.png") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/*container*/
.container {
  padding-left: 115px;
  padding-right: 130px;
}

/*navbar*/
nav {
  margin-top: 39px;
  margin-bottom: 70px;
  width: 100%;
  font-family: 'Montserrat';
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

nav ul li {
  float: left;
  width: calc(100% / 2);
}

.navleft {
  font-size: 17px;
  font-weight: 700;
}

.navright {
  float: right;
  font-size: 14.6px;
  font-weight: 400;
  padding-left: 400px;
  padding-right: 18px;
}

a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #d3d3d3;
}

/*page text*/
.text {
  color: #fff;
  margin-top: 175.4px;
  text-align: center;
  list-style-type: none;
}

.example li {
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 95px;
  font-weight: 700;
  margin-bottom: 31.3px;
}

.letters li {
  display: inline-block;
  font-family: 'Lora';
  font-size: 32px;
  height: 0;
  margin-top: -16px;
  padding-left: 16.5px;
  padding-right: 16.5px;
}

.foreign li {
  display: inline-block;
  font-family: 'Lora';
  font-size: 47.6px;
  height: 0;
  margin-top: 13.8px;
  padding-left: 24.5px;
  padding-right: 24.5px;
}

.live li {
  display: inline-block;
  font-family: 'Lora';
  font-size: 32px;
  margin-top: 20.7px;
}
