/*
  Black: #020202;
  Light Grey: #d3d3d3;
  Grey Blue: #70abba;
*/

/*general*/
body {
  font-family: 'Montserrat';
}

h3 {
  font-size: 28px;
  font-weight: 700;
  height: 0;
  margin-bottom: 88px;
  margin-top: 7px;
}

h4 {
  font-size: 17.5px;
  font-weight: 700;
  height: 0;
  margin-bottom: 79px;
  margin-top: 0;
}

h5 {
  font-size: 13.1px;
  height: 0;
  margin-top: 0;
  padding-bottom: 37px;
}

p {
  font-family: 'Lora';
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 0;
}

hr {
  margin-bottom: 43.9px;
}

/*container*/
.container {
  padding-left: 115px;
  padding-right: 113px;
}

/*navbar*/
nav {
  margin-top: 39px;
  margin-bottom: 70px;
  width: 100%;
  font-family: 'Montserrat';
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

nav ul li {
  float: left;
  width: calc(100% / 2);
}

.navleft {
  font-size: 17px;
  font-weight: 700;
}

.navright {
  float: right;
  font-size: 14.6px;
  font-weight: 400;
  padding-left: 400px;
  padding-right: 18px;
}

a:link, a:visited {
  color: #020202;
  text-decoration: none;
}

a:hover {
  color: #d3d3d3;
}

.section-left {
  float: left;
  margin-right: 86px;
  width: 554px;
}

.section-left a {
  color: #70abba;
}

.section-right {
  float: right;
  margin-right: 0;
  width: 500px;
}

/*map*/
#map {
  width: 502px;
  height: 302px;
  background-color: #CCC;
}

/*trip list*/
.trip-title {
  height: 17.5px;
  font-size: 17.5px;
  font-weight: 700;
  margin-top: 43px;
  margin-bottom: 41px;
}

.trips > ul > li {
  list-style-type: none;
  font-family: 'Montserrat';
  font-size: 14.4px;
  font-weight: 700;
  line-height: 12px;
  margin-bottom: 19px;
  padding-left: 44px 0;
}